@tailwind base;
@tailwind components;
@tailwind utilities;

.hero--image {
    filter: drop-shadow(0 0 0.5rem green);
}

.nav--link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #58f19d;
    transition: width 0.5s ease-in-out;
}
.nav--link:hover::after {
    width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
